@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* navbar */
header nav {
    display: flex;
    gap: 16px;
    justify-content: end;
    max-width: 1200px;
    margin: 0 auto;
}

header nav h1 {
    margin-right: auto;
    border-bottom: 3px solid whitesmoke;
}

header nav a {
    padding: 6px;
    border-radius: 4px;
}

header nav a.active {
    background: red;
    text-decoration: underline solid 2px blue;
}
