<nav>
    <ul>
        <li><a href="/adoption">Adoptions</a></li>
        <% if(user){ %>
        <li><a href="/register-dog">Register New Dog</a></li>
        <li><a href="/:user">Your Dogs</a></li>
        <% } %>
    </ul>
</nav>
