<%- include('partials/header'); -%>

    <header>
        <div class="dog">
            <img src="/Teddy_the_cocker_spaniel_artwork_3.png" alt="colorful cockerspaniel">
        </div>

<%- include('partials/footer'); -%>
